<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>memberServlet</servlet-name>
    <servlet-class>member.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberServlet</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>member.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>member.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adjustInfo</servlet-name>
    <servlet-class>member.adjustInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adjustInfo</servlet-name>
    <url-pattern>/adjust</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>member.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BtnLight</servlet-name>
    <servlet-class>member.BtnLight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BtnLight</servlet-name>
    <url-pattern>/btnLight</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adjustPhoto</servlet-name>
    <servlet-class>member.adjustPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adjustPhoto</servlet-name>
    <url-pattern>/adjustPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>agesearch</servlet-name>
    <servlet-class>member.AgeSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>agesearch</servlet-name>
    <url-pattern>/agesearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>greenlistServlet</servlet-name>
    <servlet-class>member.greenlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>greenlistServlet</servlet-name>
    <url-pattern>/greenlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>detail</servlet-name>
    <servlet-class>member.detailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detail</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adjustPhoto1</servlet-name>
    <servlet-class>member.adjustPhoto1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adjustPhoto1</servlet-name>
    <url-pattern>/adjustPhoto1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adjustPhoto2</servlet-name>
    <servlet-class>member.adjustPhoto2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adjustPhoto2</servlet-name>
    <url-pattern>/adjustPhoto2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adjustPhoto3</servlet-name>
    <servlet-class>member.adjustPhoto3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adjustPhoto3</servlet-name>
    <url-pattern>/adjustPhoto3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>msgDTO</servlet-name>
    <servlet-class>member.msgDTO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>msgDTO</servlet-name>
    <url-pattern>/mgDTO</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>member.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>msgSServlet</servlet-name>
    <servlet-class>member.msgSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>msgSServlet</servlet-name>
    <url-pattern>/sendMessagebox</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>msgRServlet</servlet-name>
    <servlet-class>member.msgRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>msgRServlet</servlet-name>
    <url-pattern>/receiveMessagebox</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteInfo</servlet-name>
    <servlet-class>member.deleteInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteInfo</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downcntServlet</servlet-name>
    <servlet-class>member.downcnt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downcntServlet</servlet-name>
    <url-pattern>/downcnt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addcnt</servlet-name>
    <servlet-class>member.addcnt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcnt</servlet-name>
    <url-pattern>/addcnt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteMessage</servlet-name>
    <servlet-class>member.deleteMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMessage</servlet-name>
    <url-pattern>/deletemsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteMessage2</servlet-name>
    <servlet-class>member.deleteMessage2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMessage2</servlet-name>
    <url-pattern>/deletemsg2</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>totalcntServlet</servlet-name>
    <servlet-class>member.totalcnt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>totalcntServlet</servlet-name>
    <url-pattern>/totalcnt</url-pattern>
  </servlet-mapping>
</web-app>